# Programming Assignment 4
## Elijah Sartin
## 0.1
## Fall 2021 - Section 1

i. append() - Adds an additional element to the end of a list

In [1]:
list = [7, 20, 11, 9]
list.append(34)
print(list)

[7, 20, 11, 9, 34]

ii. extend() - Adds multiple elements to the end of a list

In [3]:
names = ['bob', 'jack', 'john']
ages = [22, 19, 20]
names.extend(ages)
print(names)

['bob', 'jack', 'john', 22, 19, 20]

iii. insert() - Adds an element to a specified position in a list

In [4]:
letters = ['a', 'b', 'd', 'e']
letters.insert(2, 'c')
print(letters)

['a', 'b', 'c', 'd', 'e']

iv. remove() - Removes a specified element from a list

In [5]:
numbers = [8, 12, 9, 5]
numbers.remove(12)
print(numbers)

[8, 9, 5]

v. count() - Counts the number of times a specified element appears in a list

In [8]:
names = ['bob', 'joe', 'arnold', 'joe']
names.count('joe')

2

vi. index() - Returns the position of the first occurence of a specified value

In [9]:
numbers = [7, 4, 19, 30, 23]
numbers.index(4)

1

vii. pop() - Removes an element at a specified position

In [10]:
numbers = [12, 6, 14, 8]
numbers.pop(3)
print(numbers)

[12, 6, 14]

viii. sorted() - Creates a sorted copy of a list, ascending by default

In [12]:
list = [7, 12, 19, 5]
x = sorted(list)
print(x)

[5, 7, 12, 19]

ix. copy() - Creates a copy of a list

In [14]:
list = ['python', 'CS', 'Java']
x = list.copy()
print(x)

['python', 'CS', 'Java']

x. clear() - Removes all elements from a list

In [15]:
list = ['Dodgers', 'Braves', 'RedSox']
list.clear()
print(list)

[]

xi. any() - Returns True if any items in the list are true

In [16]:
list = [5.7, 8, 9, 13]
any(list)

True

xii. filter() - Returns elements that satistfy a condition

In [5]:
numbers = [7, 11, 14, 28, 19, 12, 37, 99, 58]

def check_odd(x):
    if x % 2 != 0:
        return x
        
print(list(filter(check_odd, numbers)))

[7, 11, 19, 37, 99]

xiii. list() - Takes inputs and add its elements to a new list

In [2]:
print(list())
baseball = 'Dodgers'
baseball_list = list(baseball)
print(baseball_list)

[]
['D', 'o', 'd', 'g', 'e', 'r', 's']

xiv. map() - Applies a function to every element in a list

In [6]:
numbers = [7, 3, 11, 15]
def double(x):
    return x * 2
print(list(map(double, numbers)))

[14, 6, 22, 30]

i. cmp() - No longer available in Python 3

ii. len() - Returns the number of elements in a tuple

In [7]:
numbers = (7, 19, 6, 28)
print(len(numbers))

4

iii. max() - Returns the largest element in an tuple

In [8]:
numbers = (19, 77, 14, 83, 65)
print(max(numbers))

83

iv. tuple(seq) - Converts a list into a tuple

In [9]:
names = ['bob', 'sue', 'maxwell']
print(tuple(names))

('bob', 'sue', 'maxwell')